body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
   
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 50px auto;
    text-align: center;
    background-image: linear-gradient(to right, rgba(242, 255, 241, 0.354), rgb(153, 226, 174));
    padding: 20px;
    border-radius: 8px; 
    width: 500px !important; 
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mb_4 {
    color: #000; 
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.form-check {
    margin-bottom: 15px;
    text-align: left;
}

.form-check-input {
    margin-right: 5px;
}
